:root{
    --color-1: #000000;
    --color-2: #333333;
    --color-3: #ffffff;
}
@font-face {
    font-family: "PlayFairDisplay";
    src: url(../storage/font/PalyfairDisplay/PlayfairDisplay-Bold.ttf);
}